name: Robo Automático XML

on:
  schedule:
    - cron: "*/20 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Rodar script automático
        run: node generate_feeds.js

      - name: Salvar e enviar XMLs
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add *.xml
          git commit -m "Autobot: Atualização Automática [$(date +'%H:%M')]" || echo "Sem mudanças"
          git pull --rebase origin main
          git push origin main
